TAGS
*.swp
*~
*.o
*.log
*.vcd
*.xml
*.dbg
*.wlf
*.elf
*.hex
*.map
*.out
*.json
.build-rtl
.lib-rtl
.opt-rtl
/build
/Bender.lock
/Bender.local

*.bak

example_tb/fpga_sys/VIVpr/**
!example_tb/fpga_sys/VIVpr/cv32e40p_sys_atrix7.sv
!example_tb/fpga_sys/VIVpr/cv32e40p.xdc

source/peripherial/Timer/Timer.pdf
source/peripherial/uart_module/UART.pdf

ms/**
!ms/wave_cv32e40p_sys_atrix.do
!ms/wave_cv32e40p_sys_Cyclone.do
!ms/Run_sim.tcl
!ms/wave.do
